.page-container {
  padding: 30px;
}

.page-container .form {
  max-width: 800px;
  margin: auto;
  padding: 40px 20px 20px;
  border: 2px solid gray;
  border-radius: 4px;
}
.page-container .form .fields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

.page-container .form .form-field {
  margin: 10px 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

.page-container .form .form-field label {
  margin: 0 10px 5px 0;
  white-space: nowrap;
}

.page-container .form .form-field input {
  border-radius: 5px;
  border: 2px solid gray;
  padding: 8px 10px;
  flex: 1;
}

.page-container .form .results {
  text-align: right;
  padding: 0 20px;
  font-weight: bold;
}
